<html>
<body style="background-color:powderblue">


          <p><a href="/"><font size="6">Home</font></a></p>
          <p><a href="/listalltasks"><font size="6">List All Tasks</font></a></p>

    <form action="/data" method="POST">

        <font size="5">Task Name:</font>
        <input type="text" name="taskname" /> </br>

        </br><font size="5">Task Due:</font>
        <input type="text" name="taskdue" /> </br>

        </br> <font size="5">Task Desc</font>
        <input type="text" name="taskdesc" /> </br>

</br><button>Submit</button>

    </form>
</body>
</html>